@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px 20px 5px 20px;
}

.header {
  background-color: #E9EBFF;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  /* height: 70px; */
}

li {
  list-style: none;
}

.btn.filed:hover {

  background-color: #6a9b07;
  color: var(--light-background);
}

.btn:hover {
  scale: 1.05;
  color: #6a9b07;
}

.headers {
  background-color: #E9EBFF;
}

.head {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.brand {
  display: flex;
  gap: 50px;
  flex: 1;
  align-items: center;
}

h3 {
  color: var(--text-color, #252B42);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}


.header-btn {
  display: flex;
}

.nav>li {
  padding: 10px;
}

.nav li a {
  text-decoration: none;
  color: #737373;
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* padding: 10px; */

  letter-spacing: 0.2px;
}

.btn {
  color: #57C192;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20px;
  border-radius: 5px;
  border: 1px solid transparent;
  /* padding: 15px 19px; */
  padding: 15px 25px;
  background-color: transparent;
  cursor: pointer;
}

.filled {
  color: #FFFFFF;
  background-color: #57C192;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.check-icon i {
  font-size: 16px;
  color: #737373;

  visibility: visible;
}

/*  dropdown section*/


.dropdown-content {
  position: absolute;
  height: 0;
  background: #fff;
  border-radius: 8px;
  /* transition: all ease 700ms; */
  /* padding: 8px; */
  visibility: hidden;
}


.dropdown-content li {
  padding: 10px;
  white-space: nowrap;
  /* transition: all ease 470ms; */
}


.drop-down input {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;



}

/* media query */

/* .drop-down{
    transition: all ease 500ms;
     
    }  */
/* .dropdown-content  {
        transition: all ease 400ms;
    }  */

.drop-down {
  position: relative;
}

/* bannersection */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 20px 5px 20px;
}

.banner {
  background-color: #E9EBFF;

}

.banner-main {
  display: flex;
  padding-top: 80px;
  gap: 30px;
}

.bottom_btn {
  display: flex;
  gap: 10px;
}

h5 {
  color: #57C192;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10px;
}

h1 {
  color: var(--text-color, #252B42);
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  gap: 30px;
}

h4 {
  color: var(--second-text-color, #737373);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  max-width: 460px;
}

.banner-section {
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex: 1;
  justify-content: center;


}

.banner-btn {
  border-radius: 5px;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;

}

.bottum_btn {
  display: flex;
  gap: 20px;

}

.Btn {
  border: 1px solid var(--primary-color, #57C192);
}

.imagcontainer {
  flex: 1;
  display: flex;
  flex: 1;
  justify-content: center;
}

img {
  width: 100%;
  object-fit: cover;
  /* height: 450px; */
}



.frame {
  padding-top: 100px;
  padding-bottom: 100px;
}

.status {
  background-color: #FFFFFF;
}

.subframe {

  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}


.coloum h1 {
  color: var(--primary-color, #57C192);
  /* text-align: center; */
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.coloum h5 {
  color: var(--text-color, #252B42);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h6 {
  color: var(--primary-text-color, #2DA673);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

h2 {
  color: var(--text-color, #252B42);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}

p {
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 468px;
}

.main_heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* card section*/
.cardgroup {
  padding-top: 80px;
  /* padding-bottom:160px; */
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card_block {
  display: flex;
  padding: 35px 40px;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: var(--light-background-color, #FFF);

}



.banner_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner_card h5 {
  color: var(--text-color, #252B42);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;

}

.card-block {
  display: flex;
}

.banner_card_btn {
  display: flex;
  width: 72px;
  height: 72px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FBEBE8;
  border: none;

}

.banner_card_btn i {
  color: #E74040;
  font-size: 30px;
}

.card_line {
  background-color: #E74040;
  width: 50px;
  height: 2px;
}

/* framesection */
.frame_section {
  background-color: #FFFFFFBF;

}

.thickcard_line {
  background-color: #E74040;
  width: 90px;
  height: 7px;

}

.sub_frame a {
  color: #2DA673;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* .imgframe{
  
     flex:1;  */

.sub_frame {
  display: flex;
  gap: 35px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.section {

  display: flex;

  gap: 30px;
}

.secondlayout {
  text-overflow: ellipsis;
  overflow: hidden;

}

.sales {
  position: absolute;
  top: 25px;
  left: 12px;
}

.cardgroups {
  padding-top: 80px;
  /* padding-bottom:160px; */
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}



.item {
  position: relative;
  height: 100%;
  object-fit: cover;
}

.sale_btn {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.2px;
  border-radius: 5px;
  padding: 0px 12px;
  border: none;
  background: #E74040;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.icon {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.icon button {
  border-radius: 200px;
  padding: 23px 23px 23px 23px;
  position: relative;
  border: none;
  background: #FFF;
  /* display: inline-block; */
}


.icon i {
  top: 15px;
  left: 14px;
  position: absolute;
  color: var(--text-color, #252B42);
  ;
  font-size: 17px;
}

.product_main {
  /* background-color: #fff; */
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;
}

.products-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailes {
  padding: 25px;
}

.detailes {
  color: #2DA673;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.main-detailes {
  display: flex;
  gap: 10px;
  align-items: center;
  /* justify-content: center;
  white-space: nowrap;  */
  justify-content: space-between;

}

.main-detailes h6 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  flex: 1;
  text-overflow: ellipsis;
  max-width: 80%;
  overflow: hidden;
}



.star {
  border: none;
  border-radius: 20px;
  background: var(--dark-background-color, #26335D);
  padding: 3px 8px 6px 3px;
}

.star i {
  font-size: 15px;
  color: #FFCE31;
}

.star span {
  color: #ffffff;
  font-size: 15px;
}


/* h5 */
.detailes h5 {
  color: var(--text-color, #252B42);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.dow_btn {
  border: none;
  font-size: 10px;
  background-color: #fff;
}

.dow_btn span {
  color: #737373;
  font-size: 15px;
}

.text2 h6 {
  color: #737373;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.20px;
  margin-left: 20px;
}

.price h5 {
  color: #737373;
}

.price {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-size: 14px;
}

.price span {
  color: #2DC071;
  text-align: center;
  padding-left: 8px;
}

.item_btn {
  padding: 11px 11px;
  color: #2DA673;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.2px;
  border-radius: 100px;
  border: 1px solid #57C192;
  background-color: white;
  cursor: pointer;
  max-width: 120px;
}

.item_btn i {
  margin-left: 5px;
  font-size: 14px;
}

.detailes p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20px;
}

.item-content {
  display: flex;
  padding: 25px 25px 35px 25px;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

}

.item-content h5 {
  color: var(--text-color, #252B42);
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;


}

.price h5 {
  color: #737373;
}

/* ratingcard*/
.card_content {
  background: #fff;
  display: flex;
  padding: 44px 44px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 12px;
}

/* .card_content:hover {
  transform: translate3D(0,-1px,0) scale(1.1); 
  transition: all .7s ease; 
  cursor: pointer;
  color: var(--primarycolor);
  border-radius:8px;
} */
.stars {
  background-color: transparent;
  border: none;
  color: #F3CD03;
}

.card {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  flex-direction: column;
  /* max-width: 160px; */
}

.dp {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp_txt {
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

.ratingcard {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 80px;
}

.final_layout {
  background: var(--faded-secondary-color-1, #E9EBFF);
}

.dp a {
  color: #2DA673;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20px;
  text-decoration: none;
}

.dp h6 {
  color: #252B42;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20px;
}

.companies {
  display: flex;
  font-weight: 700;

  text-overflow: ellipsis;
  text-align: center;
  color: #737373;
  font-size: 77px;
  justify-content: center;
}

.second {
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
}

/* finallayout */
.final {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputsection {
  width: 100%;
  max-width: 600px;
}

input {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid #E6E6E6;
  background: #F9F9F9;
  outline: none;
  padding: 16px 0px 18px 20px;
}

.searchbar {
  border-radius: 0px 5px 5px 0px;
}

form {
  text-align: center;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  width: 100%;
}

.information h5 {
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10px;
}

.small_info ul {
  gap: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.layout {
  display: grid;
  gap: 16px;
  /* justify-content: center; */
  grid-template-columns: 5 1fr;
  grid-template-columns: repeat(5, 1fr);
}


.footer-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small_info a {
  text-decoration: none;
  color: #737373;
}

.footer_text i {
  font-size: 20px;
  color: #57C192;
  align-items: center;
  display: flex;
}

.footer-text {
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer_text h6 {
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/*  COPYRIGHT SECTION */
.copyright {
  width: 100%;
  background-color: #FAFAFA;
  padding-top: 20px;
  padding-bottom: 20px;

}

.copyright_text {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20px;
}

.footer-bar {
  padding: 50px 0px;

}

.social-media-icons i {
  color: #57C192;
  font-size: 20px;
}

.social-media-icons ul {
  gap: 20px;
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  list-style: none;

}

.copyright-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.footer_text {
  display: flex;
  gap: 10px;
}





@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap');



@media (min-width:829px)and (max-width:2000px) {
  .nav {
    display: flex;
  }

  .brand {
    gap: 30px;
  }

  .drop-down:hover .dropdown-content {
    transition: all ease 400ms;
    height: 140px;
    width: 160px;
    visibility: visible;
  }

  .dropdown-content li:hover {
    background-color: var(--primary-color, #88d2b1);

    border-radius: 8px;
  }

  .dropdown-content li:hover a {
    color: #fff;

  }

  .dropdown-content.A {
    overflow-y: scroll;
    height: 100px;

  }

  .dropdown-content.A::-webkit-scrollbar {
    display: none;
  }

  .dropdown-content {

    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  }

  .nav>li>a:hover {
    color: var(--primary-color, #57C192);
  }

  .inside-btn {
    display: none;
  }

  .check-icons i {
    display: none;
  }

  /* bannersection */
  /* .header-btn {
        display: none;
    } */

  .banner-btn {
    padding: 15px;
  }

  .brand-head {
    flex: 1;
  }

  .section {
    display: flex;

  }


  .cardgroup {
    gap: 24px;
  }

  .card_block {
    padding: 30px 13px;

  }

}


@media (max-width:829px) {

  .dropdown-content {
    position: relative;
  }

  .dropdown-content.A {
    position: relative;
  }

  #checking:checked~.nav {
    left: 0;
  }

  .brand {
    gap: 20px;
  }

  .nav {
    position: fixed;
    top: 78px;
    flex-direction: column;
    background-color: #E9EBFF;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    transition: all ease 600ms;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    padding: 30px 0;
  }

  .check-icons i {
    visibility: visible;
    font-size: 25px;
    color: #57C192;
  }

  .nav-bar {
    order: 1;
  }

  .dropdown-content.A {
    overflow-y: scroll;

  }

  .dropdown-content.A::-webkit-scrollbar {
    display: none;
  }

  .dropdown-content {

    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  }

  #check:checked~.dropdown-content {
    visibility: visible;
    height: 140px;
    transition: all ease 700ms;
  }

  /* .dropdown-content{
        transition: all ease 700ms;
    } */

  .check-icon i {
    font-size: 16px;
    color: #737373;

    visibility: visible;
  }

  .drop-down input {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    /* bottom: 2px; */
    top: 19px;
  }

  #checked:checked~.dropdown-content.A {
    visibility: visible;
    height: 140px;
    transition: all ease 700ms;
  }


  .inside-btn button:last-child {
    display: none;
  }

  .inside-btn button:first-child {

    display: none;

  }

  /* bannersection */
  .header-main {
    display: none;
  }

  .banner-main img {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  h5 {
    font-size: 18px;
  }

  .banner-section {
    text-align: center;
    align-items: center;
  }

  .banner-main {
    flex-direction: column;
    display: flex;
  }


  /* framesection */
  .subframe {
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
  }

  .coloum h1 {
    font-size: 66px;
  }

  .coloum h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-weight: 600;
  }

  .card_block {
    padding: 30px 13px;

  }

  /* cardsection */
  .main-detailes h6 {
    font-size: 18px;
  }

  .item-content h5 {
    font-size: 17px;
  }

  .dow_btn span {
    font-size: 16px;
  }

  /* 
        .frame_section .imagcontainer { 
            display: grid;
        }  */

  .sub_frame {
    align-items: center;
    text-align: center;
  }

  .section {
    flex-direction: column;
  }

  .section img {
    width: 50%;
  }

  .main_heading {
    text-align: center;
    align-items: center;
  }

  /* cardsection */
  .cardgroup {
    grid-template-columns: repeat(2, 1fr);
  }

  .center {
    grid-column: 1/3;
  }

  .banner_card {
    text-align: center;
    align-items: center;
    font-weight: 20px;
  }

  .cardgroups {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .item-content {
    padding-top: 0px;
    gap: 10px;
  }

  .star i {
    font-size: 18px;
  }

  .star span {
    font-size: 18px;
  }

  .product_main {
    display: flex;
  }

  .layout {
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }

  .companies {
    font-size: 100px;
  }

  .coloum:hover {
    transform: translate3D(0, -1px, 0) scale(1.1);
    transition: all .7s ease;
  }

  .companies:hover {

    transform: translate3D(0, -2px, 0) scale(1.2);
    transition: all .7s ease;

  }

  /* footersection */
  .second {
    gap: 50px;
  }

  .information h5 {
    font-size: 20px;
  }

  .footer-text {
    font-size: 18px;
  }

  .footer_text h6 {
    font-size: 18px;
  }

  .copyright-section {
    flex-direction: column;
  }

  .copyright_text {
    font-size: 16px;
  }

  .small_info ul {
    gap: 25px;
  }

  .footer-bar {
    padding: 60px 0;
  }
}

@media (max-width:570px) {

  .inside-btn button:first-child {

    padding: 14px 40px;
    text-align: center;
    display: inline-block;
    border: 1px solid var(--primary-color, #57C192);
  }

  .header-btn button:first-child {
    display: none;

  }

  .header-btn button:last-child {
    padding: 12px 23px;

  }

}



@media (max-width:420px) {
  .header-btn .btn {
    display: none;
  }

  .inside-btn {
    display: block;
    padding: 13px 13px;
  }

  .inside-btn button:last-child {
    display: inline;
    text-align: center;

  }

  .inside-btn button:last-child {
    display: inline;
    text-align: center;

  }

  .banner-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section img {
    width: 100%;
  }

  .subframe {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .coloum h1 {
    font-size: 80px;


  }

  .coloum h5 {
    font-size: 21px;

  }

  .main-detailes h6 {
    font-size: 22px;
  }

  .item-content h5 {
    font-size: 20px;
  }

  .main_heading {
    gap: 20px;

  }

  p {
    font-weight: 550;
    font-size: 18px;

    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.2px;
  }

  .star i {
    font-size: 22px;
  }

  .star span {
    font-size: 22px;
  }

  .companies {
    font-size: 100px;
  }

  .cardgroup {
    display: flex;
    flex-direction: column;
  }

  .cardgroups {
    /* display: flex; */
    flex-direction: column;
  }

  .product_main {
    display: block;
  }

  .layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .dow_btn span {

    font-size: 20px;
  }

  .item-content {
    padding: 12px;
    gap: 20px;
  }

  .information h5 {
    font-size: 21px;
  }

  .footer-text {
    font-size: 18px;
  }

  .footer_text h6 {
    font-size: 18px;
  }

  .footer_text {

    flex-direction: column;
    align-items: center;
  }

  .layout {
    gap: 55px;
  }

  .small_info ul {
    gap: 20px;
  }

  .card {
    gap: 20px;
  }

  .card_content {
    gap: 25px;
  }

  .sub_frame a {
    font-size: 17px;
  }

  h6 {
    font-size: 18px;
  }

  .dp a {
    font-size: 16px;
  }

  .dp h6 {
    font-size: 16px;
  }

  .sale_btn {
    font-size: 18px;
  }

  .copyright_text {
    font-size: 17px;

  }

  .social-media-icons i {

    font-size: 23px;
  }

  .copyright-section {
    gap: 10px;
  }


}